.badge {
  font-size: 1.7rem;
  margin: 0;
  color: var(--primary);
  margin-bottom: .5rem;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
}