@use '../mixins/theme' as theme;

.header {
  padding: 1.5rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  @include theme.theme-property('background-color', 'fixedHeaderBg');
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .05);

  @media (min-width: 992px) {
    @include theme.themed-property('background-color', transparent, transparent);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .05);
  }

  transition: box-shadow .2s, background-color .2s;

  &--white {
    @include theme.theme-property('background-color', 'fixedHeaderBg');
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .05);
  }

  > .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .brand {
    display: block;
    img {
      display: inherit;
      height: 40px;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 16px;
    flex: 1 1 auto;
  }
}