  .job {
    border-left: 2px solid rgba(#000, .1);
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    position: relative;
    color: #111;
    &::after {
      content: '';
      position: absolute;
      top: 3.5rem;
      left: 0;
      transform: translate(-50%, -50%);
      width: 15px;
      height: 15px;
      background-color: var(--primary);
      border-radius: 50%;
      display: block;
      @media (min-width: 992px) {
        top: 1.5rem;
      }
    }
    &__desc {
      margin-top: 1rem;
    }
    @media (min-width: 992px) {
      padding-left: 2.5rem;
      padding-bottom: 6rem;
      margin-right: 0;
      margin-left: 0;
      padding-top: 0;
      display: flex;
      &__meta {
        width: 45%;
      }
      &__desc {
        margin-top: 0;
        width: 55%;
      }
    }
    &__date {
      margin: 0;
      font-weight: 500;
      color: #333;
    }
    &__business,
    &__role {
      font-weight: 600;
    }
    &__role {
      color: var(--primary);
      margin-bottom: .3rem;
      font-size: 22px;
      font-weight: 600;
    }
    &__business {
      font-size: 18px;
      margin-bottom: .5rem;
    }
    &__date {
      font-size: 14px;
      text-transform: uppercase;
      font-family: "Poppins", sans-serif;
    }
    ul {
      list-style: none;
      line-height: 1.6;
      li:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }