.social-link {
  width: 5rem;
  height: 5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 2.4rem;
  color: $primary;
  border: 1px solid $primary;
  border-radius: 5px;
  &:not(:last-child) {
    margin-right: 1rem;
  }

  &:hover {
    background-color: $primary;
    color: #fff;
  }
}