.styled-list {
  list-style-position: inside;
  list-style: none;
  margin: 1.5rem 0;
  strong {
    font-weight: 500;
  }
  ul {
    list-style: disc;
    list-style-position: inside;
  }
  li {
    margin: .6rem 0;
  }
  & > li:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}