---
const pathname = new URL(Astro.request.url).pathname
---
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
      <img src="/assets/img/logo-white.svg" alt="Logo Homer Developer">
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class=`nav-item ${ pathname === '/admin' ? 'active' : '' }`>
      <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
      Interface
  </div>

  <!-- Nav Item - Charts -->
  <li class=`nav-item ${ pathname === '/admin/portfolio' ? 'active' : '' }`>
    <a class="nav-link" href="/admin/portfolio">
      <i class="fas fa-fw fa-briefcase"></i>
      <span>Portafolio</span></a>
  </li>

  <!-- Nav Item - Charts -->
  <li class=`nav-item ${ pathname === '/admin/tecnologies' ? 'active' : '' }`>
    <a class="nav-link" href="/admin/tecnologies">
      <i class="fas fa-fw fa-briefcase"></i>
      <span>Tecnologias</span></a>
  </li>

  <!-- Nav Item - Charts -->
  <li class=`nav-item ${ pathname === '/admin/testimonials' ? 'active' : '' }`>
    <a class="nav-link" href="/admin/testimonials">
      <i class="fas fa-fw fa-quote-left"></i>
      <span>Testimoniales</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
<!-- End of Sidebar -->

<style>
  .sidebar-brand img {
    width: 100%;
    max-width: 150px;
  }
</style>