---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Stack from '../components/Stack.astro'
import Portfolio from '../components/Portfolio.astro'
import Testimonials from '../components/Testimonials.astro'
import ContactForm from '../components/ContactForm.astro'
import Experience from '../components/Experience.astro'
import SectionBanner from '../components/CreateTestimonial.astro'
---

<Layout title="Homer Moncayo">
	<Hero />
	<section class="p-section bg-white l-about" id="sobre-mi">
		<div class="container">
			<div class="l-about__media">
				<img src="/assets/img/developer.svg" alt="">
			</div>
			<div class="l-about__info">
				<p class="badge">Sobre mi</p>
				<h2>Un creador de software limpio, moderno y escalable para la web y móviles.</h2>
				<p>Soy un programador web FullStack especializado en el área del FrontEnd. Incursioné en el mundo de la programación a los 16 años de edad y quedé fascinado. Mi capacidad para entender y resolver temas complejos me ayudó a convertirme en un programador competente a día de hoy.</p>
				<p>Soy un experto en la creación de interfaces de usuario intuitivas, adaptables a dispositivos y amigables al SEO. Me destaco por brindar servicios de calidad y poner esmero en mis desarrollos. Soy muy comprometido con mi trabajo y trato de dar un esfuerzo adicional en cada proyecto que emprendo.</p>
				<a href="/Homer-Moncayo.pdf" target="_blank" class="button button--secondary-o">
					Descargar CV
					<i class="far fa-file-pdf"></i>
				</a>
			</div>
		</div>
	</section>

	<section class="p-section pt-0 bg-white">
		<div class="container container--sm">
			<h2 class="text-center">Experiencia laboral</h2>
			<div class="separator">
				<i class="fa fa-briefcase"></i>
			</div>
			<Experience />
		</div>
	</section>

	<section class="p-section" id="habilidades">
		<div class="container container--sm">
			<p class="badge text-center">Habilidades</p>
			<h2 class="text-center">Mis lenguajes y frameworks.</h2>
			<Stack />
		</div>
	</section>

	<section class="p-section bg-white" id="portafolio">
		<div class="container">
			<p class="badge">Portfolio</p>
			<h2>Algunos de mis proyectos</h2>

			<Portfolio />
		</div>
	</section>

	<section class="p-section" id="testimonios">
		<div class="container container-sm	testimonials">
				<p class="badge text-center">Testimonios</p>
				<h2 class="text-center">Lo que las personas opinan de mi</h2>
				<Testimonials />
			</div>
		</div>
	</section>

	<SectionBanner
		title="¡Comparte tu opinión!"
		text="Tu testimonio es clave para ayudarme a mejorar y crecer. Si has trabajado conmigo o has utilizado mis servicios, por favor deja un comentario sobre tu experiencia."
	/>

	<section class="bg-white p-section" id="contacto">
		<div class="container">
			<p class="badge">Contacto</p>
			<h2>Dejame un mensaje!</h2>
			<ContactForm />
		</div>
	</section>
</Layout>