---
import Input from "./Form/Input.astro"
import Textarea from "./Form/Textarea.astro"
---

<div class="section-contact">
  <div class="contact-section">
    <form method="post" id="contact-form">
      <div class="cols">
        <Input
          type="text",
          id="fullname"
          label="Nombre y apellido"
          placeholder='John Doe'
          required
        />
        
        <Input
          type="text",
          id="subject"
          label="Asunto"
          placeholder='Necesito una web.'
          required
        />
      </div>
      <Input
        type="email",
        id="email"
        label="Correo"
        placeholder='john@doe.com'
        required
      />
      <Textarea
        id="message",
        label="Tu mensaje"
        rows={5}
        placeholder="Requiero una pagina web para mi negocio."
        required
      />
    
      <button type="submit" class="button button--primary">
        Enviar
        <i class="fa fa-paper-plane"></i>
      </button>
    </form>
  </div>
  <div class="image-section">
    <div class="image"></div>
  </div>
</div>

<style>
  .image-section img {
    display: none;
  }

  .section-contact {
    margin-top: 3.5rem;
  }

  @media (min-width: 1200px) {
    .section-contact {
      display: flex;
      gap: 2rem;
    }

    .contact-section {
      background-color: #f6f6f6;
      border-radius: 10px;
      width: 60%;
      padding: 4rem;
    }

    .image-section {
      width: 40%;
    }

    .image-section img {
      display: block;
    }
  }

  .image {
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/astronauta.jpg);
    border-radius: 10px;
    background-position: center;
  }
</style>
<script>
  import Swal from 'sweetalert2'

  const $contactForm = document.getElementById('contact-form') as HTMLFormElement
  const $submitButton = $contactForm.querySelector('button[type="submit"]') as HTMLButtonElement

  const handleSendMessage = async (e: SubmitEvent) => {
    e.preventDefault()

    if(!(e.target instanceof HTMLFormElement)) return;

    $submitButton.disabled = true
    $submitButton.innerHTML = $submitButton.innerHTML = `
      Enviando
      <i class="fa fa-spinner rotate"></i>
    `.trim()

    const fd = new FormData(e.target)

    const resp = await (await fetch('/api/mails/contact', {
      method: 'POST',
      body: fd
    })).json()

    Swal.fire({
      title: resp.message,
      icon: resp.ok ? 'success' : 'error',
      confirmButtonText: 'Ok', 
      confirmButtonColor: "var(--primary)",
    })

    $contactForm.reset()
    $submitButton.disabled = false
    $submitButton.innerHTML = $submitButton.innerHTML = `
      Enviar
      <i class="fa fa-paper-plane"></i>
    `.trim()
  }

  $contactForm.addEventListener('submit', handleSendMessage)
</script>