<div class="l-jobs">
  <article class="job">
    <div class="job__meta">
      <h3 class="job__role">Programador FullStack</h3>
      <h4 class="job__business">Soluciones Tecnológicas Tepuy 21</h4>
      <p class="job__date">2024 - Actualidad</p>
    </div>
    <div class="job__desc">
      <ul>
        <li>Desarrollo de sistemas de información robustos y escalables con Laravel para empresas venezolanas.</li>
        <li>Desarrollo de REST API'S con PHP nativo e implementación con frameworks Frontend.</li>
        <li>Aumento de mis habilidades a la hora de comunicarme con mi equipo de trabajo, aportando ideas y soluciones efectivas.</li>
        <li>Desarrolle mi capacidad para entender los requerimientos y estructurar un sistema.</li>
      </ul>
    </div>
  </article>

  <article class="job">
    <div class="job__meta">
      <h3 class="job__role">Programador JavaScript</h3>
      <h4 class="job__business">HI4AI Human Intelligence for Artificial Intelligence</h4>
      <p class="job__date">2023 - 2024</p>
    </div>
    <div class="job__desc">
      <ul>
        <li>Programación y mantenimiento de bots inteligentes para extraer información publica en sitios web con el fin de analizar datos para machine learning.</li>
        <li>Desarrollo de sistema para escraping utilizando NextJS y Prisma ORM, trabajando en equipo.</li>
        <li>Obtuve conocimientos sobre tecnologias web importantes como GraphQL, PotsgreSQL, Cookies. Mejore mi nivel de ingles con dinamicas junto a mis compañeros.</li>
      </ul>
    </div>
  </article>

  <article class="job">
    <div class="job__meta">
      <h3 class="job__role">Programador Freelancer</h3>
      <h4 class="job__business">WORKANA</h4>
      <p class="job__date">2022 - Actualidad</p>
    </div>
    <div class="job__desc">
      <ul>
        <li>He desarrollado plantillas y plugins de wordpress, sistemas de turnos con websockets, aplicaciones para calcular recetas médicas, refactorizaciones de código, diseños de landing pages y tambien he dado algunas asesorías para proyectos.</li>
        <li>Como programador independiente soy capaz de tomar desiciones y tener control total del código entregado a los clientes. Obteniendo excelentes resultados.</li>
      </ul>
    </div>
  </article>
</div>