<footer class="site-footer">
  <div class="container">
    <p>Todos los derechos reservados a Homer Moncayo {new Date().getFullYear()} &copy;</p>
  </div>
</footer>

<style>
  .site-footer {
    padding: 3rem 0;
  }
  p {
    margin: 0;
    text-align: center;
  }
</style>