<footer class="site-footer">
  <div class="container">
    <img src="/assets/img/logo-white.svg" alt="Logo blanco">
    <p>Todos los derechos reservados a Homer Moncayo {new Date().getFullYear()} &copy;</p>
  </div>
</footer>

<style>
  img {
    width: 170px;
    margin-bottom: 2rem;
    opacity: .9;
  }
  .site-footer {
    padding: 4rem 0;
    background-color: #111;
    color: #f1f1f1;
    text-align: center;
  }
  p {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    margin: 0;
  }
</style>