<header class="header" id="header">
  <div class="container">
    <a href="/" class="brand">
      <img src="/assets/img/logo.svg" alt="Logo Homer Developer">
    </a>

    <button class="burger" id="burger" aria-expanded="false">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <nav class="nav" id="navbar">
      <a href="/#sobre-mi" class="nav__link">Sobre mi</a>
      <a href="/#portafolio" class="nav__link">Proyectos</a>
      <a href="/#testimonios" class="nav__link">Testimonios</a>
      <a href="/#contacto" class="nav__link">Contacto</a>
      <a href="https://www.workana.com/freelancer/592e65dcdeb09899960ddca5f588ee35" target="_blank" class="button button--primary-o">
        Contrátame
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z" />
        </svg>
        
      </a>
    </nav>
  </div>
</header>

<style>
  @media screen and (min-width: 992px) {
    .button {
      margin-left: 1.5rem;
    }
  }
</style>

<script>
  const $burger = document.getElementById('burger')
  const $navbar = document.getElementById('navbar')
  const $header = document.getElementById('header')

  const isMovil = matchMedia('(max-width: 992px)').matches

  const handleToggleNavbar = () => {
    if(!$navbar || !$burger) return null

    $navbar.classList.toggle('show')
    $burger.classList.toggle('active')
    $burger.ariaExpanded = $burger?.classList.contains('active') ? 'true' : 'false'
  }

  const handleToggleWhiteHeader = () => {
    if(window.scrollY >= 30) $header?.classList.add('header--white')
    else $header?.classList.remove('header--white')
  }

  const handleClickOnNavbar =(e: MouseEvent) => {
    if(!(e.target instanceof HTMLElement)) return null
    if(e.target.nodeName === 'A' && $navbar && $burger) {
      $navbar.classList.remove('show')
      $burger.classList.remove('active')
    }
  }

  handleToggleWhiteHeader()

  if($burger) $burger.addEventListener('click', handleToggleNavbar)
  if($header) window.addEventListener('scroll', handleToggleWhiteHeader)
  if($navbar && isMovil) $navbar.addEventListener('click', handleClickOnNavbar)
</script>