<header class="header">
  <div class="container">
    <a href="/" class="brand">
      <img src="/assets/img/logo.svg" alt="Logo Homer Developer">
    </a>

    <button class="burger" id="burger">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <nav class="nav" id="navbar">
      <a href="#sobre-mi" class="nav__link">Sobre mi</a>
      <a href="#portafolio" class="nav__link">Proyectos</a>
      <a href="#testimonios" class="nav__link">Testimonios</a>
      <a href="#contacto" class="nav__link">Contacto</a>
      <a href="#contacto" class="button button--primary-o">
        Contrátame
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z" />
        </svg>
        
      </a>
    </nav>
  </div>
</header>

<style>
  @media screen and (min-width: 992px) {
    .button {
      margin-left: 1.5rem;
    }
  }
</style>

<script>
  const $burger = document.getElementById('burger')
  const $navbar = document.getElementById('navbar')

  const handleToggleNavbar = () => {
    $navbar?.classList.toggle('show')
    $burger?.classList.toggle('active')
  }

  if($burger) {
    $burger.addEventListener('click', handleToggleNavbar)
  }
</script>