<div class="hero">
  <div class="container container--sm">
    <div>
      <p class="badge">Hola! yo soy</p>
      <h1 class="hero__title">Homer Moncayo</h1>
      <p class="hero__subtitle">Un competente <strong>Programador web FullStack</strong>, apacionado por el mundo del software y con más de 5 años de experiencia.</p>
      <a href="https://www.linkedin.com/in/homer-moncayo" target="_blank" class="social-link">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/Homer1020/" target="_blank" class="social-link">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://codepen.io/homer-moncayo" target="_blank" class="social-link">
        <i class="fab fa-codepen"></i>
      </a>
    </div>
    <div>
      <div class="hero__img"></div>
    </div>
  </div>

  <svg id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 120" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(255, 255, 255, 1)" offset="0%"></stop><stop stop-color="rgba(255, 255, 255, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,48L21.8,40C43.6,32,87,16,131,14C174.5,12,218,24,262,40C305.5,56,349,76,393,72C436.4,68,480,40,524,36C567.3,32,611,52,655,58C698.2,64,742,56,785,58C829.1,60,873,72,916,64C960,56,1004,28,1047,20C1090.9,12,1135,24,1178,38C1221.8,52,1265,68,1309,68C1352.7,68,1396,52,1440,42C1483.6,32,1527,28,1571,22C1614.5,16,1658,8,1702,22C1745.5,36,1789,72,1833,84C1876.4,96,1920,84,1964,68C2007.3,52,2051,32,2095,20C2138.2,8,2182,4,2225,18C2269.1,32,2313,64,2356,80C2400,96,2444,96,2487,80C2530.9,64,2575,32,2618,16C2661.8,0,2705,0,2749,2C2792.7,4,2836,8,2880,24C2923.6,40,2967,68,3011,78C3054.5,88,3098,80,3120,76L3141.8,72L3141.8,120L3120,120C3098.2,120,3055,120,3011,120C2967.3,120,2924,120,2880,120C2836.4,120,2793,120,2749,120C2705.5,120,2662,120,2618,120C2574.5,120,2531,120,2487,120C2443.6,120,2400,120,2356,120C2312.7,120,2269,120,2225,120C2181.8,120,2138,120,2095,120C2050.9,120,2007,120,1964,120C1920,120,1876,120,1833,120C1789.1,120,1745,120,1702,120C1658.2,120,1615,120,1571,120C1527.3,120,1484,120,1440,120C1396.4,120,1353,120,1309,120C1265.5,120,1222,120,1178,120C1134.5,120,1091,120,1047,120C1003.6,120,960,120,916,120C872.7,120,829,120,785,120C741.8,120,698,120,655,120C610.9,120,567,120,524,120C480,120,436,120,393,120C349.1,120,305,120,262,120C218.2,120,175,120,131,120C87.3,120,44,120,22,120L0,120Z"></path></svg>
</div>

<style>
  .button {
    margin-right: 1rem;
  }

  .hero {
    position: relative;
  }

  #wave {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
  }
</style>