<div class="hero">
  <div class="container container--sm">
    <div>
      <!-- <h1 class="hero__title">Soy un apacionado<br>programador webFullStack</h1> -->
      <p class="badge">Hola! yo soy</p>
      <h1 class="hero__title">Homer Moncayo</h1>
      <p class="hero__subtitle">Un programador web competente, apacionado por el mundo del software y con más de 5 años de experiencia.</p>
      <a href="" class="social-link">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="social-link">
        <i class="fab fa-github"></i>
      </a>
      <a href="" class="social-link">
        <i class="fab fa-codepen"></i>
      </a>
      <a href="" class="social-link">
        <i class="fab fa-facebook"></i>
      </a>
    </div>
    <div>
      <div class="hero__img"></div>
    </div>
  </div>
</div>

<style>
  .button {
    margin-right: 1rem;
  }
</style>