---
import Project from "./Project.astro"
---
<div id="filter-portfolio">
  <button class="button button--sm" data-filter="*">Mostra todo</button>
  <button class="button button--sm" data-filter=".php">PHP</button>
  <button class="button button--sm" data-filter=".laravel">Laravel</button>
  <button class="button button--sm" data-filter=".javascript">JavaScript</button>
  <button class="button button--sm" data-filter=".reactjs">ReactJS</button>
  <button class="button button--sm" data-filter=".wordpress">Wordpress</button>
  <button class="button button--sm" data-filter=".nodejs">NodeJS</button>
</div>
<div class="l-portfolio" id="portfolio">
  <Project
    image='/assets/img/example_01.webp'
    title='Sistema de Parking'
    stacks={['Laravel', 'PHP']}
  />
  <Project
    image='/assets/img/mockup.jpg'
    title='Sistema de censo'
    stacks={['ReactJS', 'NodeJS', 'ExpressJS']}
  />
  <Project
    image='/assets/img/example_01.webp'
    title='Gomishots landing'
    stacks={['AWS', 'CSS', 'JavaScript']}
  />
  <Project
    image='/assets/img/mockup.jpg'
    title='Gestión de inventario'
    stacks={['NodeJS', 'Express', 'Bootstrap']}
  />
  <Project
    image='/assets/img/example_01.webp'
    title='Oficiales de cumplimiento'
    stacks={['ReactJS', 'PHP', 'HTML']}
  />
  <Project
    image='/assets/img/example_01.webp'
    title='Strateps web'
    stacks={['Wordpress', 'PHP']}
  />
  <Project
    image='/assets/img/mockup.jpg'
    title='Gestión de inventario'
    stacks={['NodeJS', 'Express', 'Bootstrap']}
  />
  <Project
    image='/assets/img/example_01.webp'
    title='Oficiales de cumplimiento'
    stacks={['ReactJS', 'PHP', 'HTML']}
  />
  <Project
    image='/assets/img/example_01.webp'
    title='Strateps web'
    stacks={['Wordpress', 'PHP']}
  />
</div>

<style>
  .l-portfolio {
    margin-top: 3rem;
  }

  .button {
    border-radius: 0;
    font-size: 1.2rem;
    font-weight: normal;
    font-family: "Poppins", sans-serif;
  }

  .active {
    background-color: #333;
    color: #fff;
  }

  #filter-portfolio {
    margin-top: 2rem;
  }

  #filter-portfolio button {
    margin-right: .5rem;
    margin-bottom: 1rem;
  }
</style>

<script>
  import Isotope from 'isotope-layout'
  import imagesLoaded from 'imagesloaded'

  const $grid = document.getElementById('portfolio') as HTMLElement
  const $filterPortfolio = document.getElementById('filter-portfolio') as HTMLElement

  const grid = new Isotope($grid, {
    itemSelector: '#portfolio article',
    masonry: {
      columnWidth: '#portfolio article',
      gutter: 30
    }
  })

  $filterPortfolio.addEventListener('click', e => {
    const target = e.target as HTMLElement

    if(target.dataset.filter) {
      $filterPortfolio.querySelectorAll('.button').forEach($btn => {
        $btn.classList.remove('active')
      });
      target.classList.add('active')
      grid.arrange({
        filter: target.dataset.filter
      })
    }
  })
  

  imagesLoaded($grid).on('progress', function() {
    grid.layout();
  });

</script>