---
import Project from "./Project.astro"
import data from '../data/projects.json'
---
<div id="filter-portfolio">
  <button class="button button--sm" data-filter="*">Mostra todo</button>
  <button class="button button--sm" data-filter=".php">PHP</button>
  <button class="button button--sm" data-filter=".laravel">Laravel</button>
  <button class="button button--sm" data-filter=".javascript">JavaScript</button>
  <button class="button button--sm" data-filter=".reactjs">ReactJS</button>
  <button class="button button--sm" data-filter=".wordpress">Wordpress</button>
  <button class="button button--sm" data-filter=".nodejs">NodeJS</button>
</div>
<div class="l-portfolio" id="portfolio">
  {
    data.map(project => (
      <Project
        { ...project }
        image={ project.mockup }
      />
    ))
  }
</div>

<style>
  .l-portfolio {
    margin-top: 3rem;
  }

  .button {
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: normal;
    font-family: "Poppins", sans-serif;
  }

  .active {
    background-color: #333;
    color: #fff;
  }

  #filter-portfolio {
    margin-top: 2rem;
  }

  #filter-portfolio button {
    margin-right: .5rem;
    margin-bottom: 1rem;
  }
</style>

<script>
  import Isotope from 'isotope-layout'
  import imagesLoaded from 'imagesloaded'
  import projectsJSON from '../data/projects.json'

  const $grid = document.getElementById('portfolio') as HTMLElement
  const $filterPortfolio = document.getElementById('filter-portfolio') as HTMLElement

  const grid = new Isotope($grid, {
    itemSelector: '#portfolio article',
    masonry: {
      columnWidth: '#portfolio article',
      gutter: 30
    }
  })

  $filterPortfolio.addEventListener('click', e => {
    const target = e.target as HTMLElement

    if(target.dataset.filter) {
      $filterPortfolio.querySelectorAll('.button').forEach($btn => {
        $btn.classList.remove('active')
      });
      target.classList.add('active')
      grid.arrange({
        filter: target.dataset.filter
      })
    }
  })
  

  imagesLoaded($grid).on('progress', function() {
    grid.layout();
  });


  /**
   * MODAL
   */
  import {generateModal} from '../utils/modal'

  const handleShowModal = (e: MouseEvent) => {
    const $target = e.target as HTMLElement
    if($target.classList.contains('project-img')) {
      e.preventDefault()
      const slug = $target.parentElement?.parentElement?.dataset.projectSlug
      const project = projectsJSON.find(p => p.slug === slug)
      const $modal = generateModal(project)
      document.body.appendChild($modal)
    }
  }

  $grid.addEventListener('click', handleShowModal)
</script>