---
interface Props {
  image: string,
  title: string,
  stacks?: string[]
}

const { title, image, stacks = [] } = Astro.props

---
<article class={stacks.map(stack => stack.toLowerCase()).join(' ')}>
  <img src={image} alt={title}>
  <h3>{title}</h3>
  {stacks.map(stack => (
    <a class="category" href="#">{stack}</a>
  ))}
</article>
<style>
  img {
    border-radius: 10px;
    margin-bottom: 1rem;
  }

  h3 {
    font-weight: 500;
  }

  .category {
    text-decoration: none;
    color: inherit;
    font-size: 1.4rem;
    font-weight: 500;
  }

  .category:hover {
    color: var(--primary);
  }

  .category::before {
    content: '#';
  }

  .category:not(:last-child)::after {
    content: ', ';
  }
</style>