---
  const { name, role, testimonial, avatar } = Astro.props
  console.log(avatar)
---
  <blockquote>
    <div>
      <i class="decoration fa fa-quote-left"></i>
    </div>
    <p class="bq__text">{ testimonial }</p>

    <div class="profile">
      <img class="avatar" src={ `${ avatar }` } alt="">

      <div>
        <p class="profile__name">{ name }</p>
        <p class="profile__role">{ role }</p>
      </div>
    </div>
  </blockquote>

  <style>
    .decoration {
      color: var(--secondary);
      font-size: 5.5rem;
    }

    .avatar {
      width: 6rem !important;
      height: 6rem !important;
      object-fit: cover;
      border-radius: 50%;
    }

    .profile {
      justify-content: center;
      display: flex;
      align-items: center;
      margin-top: 2rem;
      gap: 1.5rem;
    }

    .profile__name,
    .profile__role {
      margin: 0;
      line-height: 1.5;
    }

    .profile__name {
      font-weight: bold;
      font-size: 1.6rem;
      color: #000;
    }

    .profile__role {
      font-size: 1.4rem;
    }

    blockquote {
      box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
      background-color: #fff;
      border-radius: 5px;
      padding: 4rem 3rem;
      margin-bottom: 2rem;
      text-align: center;
    }

    .bq__text {
      font-size: 1.6rem;
      line-height: 1.5;
      margin-top: 2.5rem;
      margin-bottom: 2.7rem;
    }

    @media (min-width: 992px) {
      blockquote {
        padding: 4rem 5rem;
      }

      .bq__text {
        line-height: 1.6;
        margin-bottom: 2.5rem;
      }
    }
  </style>