  ---
  import Testimonial from "./Testimonial.astro";
  ---

  <div class="l-testimonials owl-carousel">
    <Testimonial />
    <Testimonial />
    <Testimonial />
    <Testimonial />
    <Testimonial />
    <Testimonial />
  </div>

  <style is:global>
    .l-testimonials {
      margin-top: 5rem;
    }

    .owl-dots {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
      gap: 1rem;
    }

    .owl-dot span {
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      border: 2px solid var(--secondary);
      border-radius: 50%;
      transition: background-color .2s;

    }

    .owl-dot.active span {
      background-color: var(--secondary);
    }
  </style>

  <script>
    interface owlElement extends JQuery<HTMLElement> {
      owlCarousel: any
    }

    $(document).ready(function(){
      ($(".owl-carousel") as owlElement).owlCarousel({
        items: 1,
        margin: 20,
        // navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
        // nav: true,
        responsive: {
          1200: {
            items: 2,
          },
        },
        autoplay: true,
        autoplayTimeout: 2000,
        autoplayHoverPause: true
      });
    });
  </script>