.l-stack {
  margin-top: 5rem;
  list-style: none;
  display: grid;
  gap: 1rem;
  
  grid-template-columns: repeat(2, 1fr);

  // @media screen and (min-width: 576px) {
  //   grid-template-columns: repeat(2, 1fr);
  // }

  @media screen and (min-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }

  &__item {
    img {
      height: 70px;
      max-width: 90px;
    }
  }
}