<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow"> <!-- The dashboard isnt should be indexed -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- SB ADMIN -->
    <link rel="stylesheet" href="/assets/vendor/sb-admin-2/sb-admin-2.min.css">
    <title>Homer Developer - Login</title>
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <a href="/" class="login-avatar-anchor">
                                          <img class="login-avatar" src="/assets/img/logo.svg" alt="Profile avatar" />
                                        </a>
                                        <h1 class="h4 text-gray-900 mb-4 text-uppercase">Iniciar sesión</h1>
                                    </div>
                                    <form action="/api/auth/signin" method="POST" class="user">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                id="exampleInputEmail" aria-describedby="emailHelp"
                                                placeholder="Introduce tu correo..." name="email">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                id="exampleInputPassword" placeholder="Contraseña" name="password">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Recuérdame</label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                          Iniciar sesión
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</body>

</html>

<style>
  .login-avatar {
    width: 130px;
  }

  .login-avatar-anchor {
    display: block;
    margin-bottom: 20px;
  }

  .bg-login-image {
    background-image: url(/assets/img/code.jpg);
  }
</style>

<script is:inline src="/assets/js/jquery.min.js"></script>
<script is:inline src="/assets/vendor/bootstrap/bootstrap.bundle.min.js"></script>
<script is:inline src="/assets/vendor/sb-admin-2/sb-admin-2.min.js"></script>