---
import Layout from "../../layouts/Layout.astro"

---
<Layout
  title="Proyecto"
>
  <div class="container container--sm">
    <img src="/assets/img/example_01.webp" alt="Web">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid numquam et sunt perspiciatis eveniet. Sunt, corporis nobis reprehenderit doloribus unde ad rem, cupiditate, omnis perspiciatis excepturi fugit quo sint eaque.</p>
  </div>
</Layout>