---
import ProjectList from "../../../components/dashboard/ProjectList"
import { supabase } from "../../../config/supabase"
import Dashboard from "../../../layouts/Dashboard.astro"
import { type ProjectType } from "../../../types"

const { data, error } = await supabase
  .from('projects')
  .select()
---

<Dashboard
  title="Portafolio"
>
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 m-0 text-gray-800">Portafolio</h1>

    <button data-toggle="modal" data-target="#modal-create-project" class="btn btn btn-primary">
      Agregar nuevo
      <i class="fa fa-plus ms-2"></i>
    </button>
  </div>
  <ProjectList client:load data={ data as ProjectType[] } />
</Dashboard>